@import url('https://fonts.googleapis.com/css?family=Dosis:300|Give+You+Glory|Shadows+Into+Light');

body {
    margin: 0;
}
.top-bar {
    height: 2em;
    background: #375e97;
    margin: -15px;
}
.signature-container {
    position: absolute;    
    width: 12em;
    height: 8em;
    background-color: #fff;
    opacity: 0.8;
    margin-left: 2em;
}

h1 {
  font-size: 6em;
  font-family: "Shadows Into Light", "Give You Glory", "Verdana";
}
.cover {
    background: url(../images/Llort10-2.svg) no-repeat fixed;
    background-size: cover;
    background-position: top center;
    height:26em;
    background-color: WhiteSmoke;
    color: #fff;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);
}
.cover .center-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.left-column, .right-column {
    width: 10vw;
    background: #fb6542;

}
.main-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.img-small {
    width: 100%;
    height: 10vh;
    background: #f7f6f6;
}

.img-small img, #img-div img {
    display: block;
    margin: 0 auto;
}
.img-small img {
    height: 80%;
}    
#img-div img {
  width: 95%;
  max-height: 900px;
  max-width: 1200px;

}

#caption {
    text-align: center;
}


.paragraph-div, #img-div{
    width: 45%;
    margin: 1em;
}

a {
    text-decoration: none;
    color: #fb6542
}

@media screen and (max-width: 720px) {
    .paragraph-div, #img-div{
        width: 85%;
    }
}
