@import url('https://fonts.googleapis.com/css?family=Dosis:300|Give+You+Glory|Shadows+Into+Light');

.top-bar {
    height: 2em;
    background: #375e97;
    margin: -15px;
}
.signature-container {
    position: absolute;    
    width: 12em;
    height: 8em;
    background-color: #fff;
    opacity: 0.8;
    margin-left: 2em;
}

h1 {
  font-size: 6em;
  font-family: "Shadows Into Light", "Give You Glory", "Verdana";
}
.cover {
    background: url(../images/Llort10-2.svg) no-repeat fixed;
    /* background: #1E1E1E; */
    background-size: cover;
    background-position: top center;
    height:26em;
    background-color: WhiteSmoke;
    color: #fff;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);
}
.cover .center-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    text-align: center
}
.container {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: space-between;

}
.left-column, .right-column {
    width: 10%;
    height: 160vh;
    background: #fb6542;

}
.tribute-info {
    display: flex;
    width: 100%;
    height: 160vh;
    flex-wrap: wrap;
}
.img-div {
    width: 100%;
    height: 10vh;
    background: #f7f6f6;
}

.img-div img, .par-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-div img {
    height: 80%;
}    
.par-img img {
   height: 70%;
}
.paragraph-div, .par-img{
    width: 45%;
    height: 75vh;
    margin: 1em;
}

footer {
    margin: -15px;
    bottom: 0;
    background-color: #ffbb00;
}